</div>
<div class="card text-center">
    <div class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo(a) {{nome}}</h1>
            <p class="lead">Neste momento foi iniciada uma seção. Para acessar os usuários
                cadastrados, é necessário logar com o perfil de administrador (email: admin e senha: admin) para acessar as
                rotas protegidas "/read" ou "/search"</p>
            <hr class="my-4">
            <p>É possível por meio do botão "perfil" editar as informações do usuário conectado e atualizar as
                informações no banco de dados MongoDB</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="http://localhost:8080/update/{{id}}" role="button">Perfil</a>
            </p>
        </div>
    </div>
</div>