
</div>
<div class="card text-center">
    <div class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo a minha aplicação demo</h1>
            <p class="lead">Esta aplicação é um sistema básico de cadastro e login de usuário, criado no Node.js,
                utilizando o framework Express. Esta aplicação servirá de base para
                minhnas aplicações futuras.
            </p>
            <hr class="my-4">
            <p >Esta aplicação é apenas uma demonstração, os dados de senha inseridos na página "cadastre-se" são
                criptografados antes de serem salvos no banco de dados MongoDB.</p>
            <p class="my-4" >
                <a class="btn btn-primary btn-lg" href="http://localhost:8080/login" role="button">Login</a> ou
                <a class="btn btn-primary btn-lg" href="http://localhost:8080/cadastro" role="button">Cadastre-se</a>
            </p>
        </div>
    </div>
</div>